.coin-container{
    display: flex;
    justify-content: center;
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    /* min-width: 300px; */

}

.coint-text{
    margin-bottom: 30px;
}

.coin h1{
    font-size: 16px;
    width: 30px;
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol{
    text-transform: uppercase;
    margin-left: 100px;
}

.coin-data{
    display: flex;
    text-align: center ;
    justify-content: center;
    width: 100%;
}

.coin-volume{
    width: 230px;
    
}

.coin-marketcap{
    width: 155px;
}

.coin-percent{
    width: 100%;
}

.red{
    
    color: #f00606;
    width: 100%;
    margin: 0 auto;
}

.green{
    color: #11d811;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 720px) and (max-width: 1045px) {
    .coin-container{
      width:80vw;
      margin: 0 auto;
      font-size: .7rem;
    }

    .coin-row{
      width: 100%;
      text-align: justify;
    }

    .coin-marketcap{
        display: none;
    }

    .coin{
        width: 30vw;
        padding: 0;
    }

    .coin-data{
        width: 50vw;
    }

    .coin h1{
        font-size:.7rem;
        width: 10vw;
    }

    .coin-symbol{
        margin-left: 50px;
    }


}

@media (min-width: 400px) and (max-width: 719px){
    .coin-container{
        width:90vw;
        margin: 0 auto;
        font-size: .5rem;
      }

      .coin-row{
        width: 100%;
        text-align: justify;
      }

      .coin-marketcap{
        display: none;
    }

    .coin h1{
        font-size:.6rem;
        
    } 

    .coin-symbol{
        margin-left: 0px;
    }

    .coin{
        width: 100px !important;
        padding: 0;
        min-width: 80px;
    }

    .coin-data{
        margin-left: 40px;
    }


}
